<a href="https://colab.research.google.com/github/amrutha-d1/ML_projects/blob/main/spam_mail_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SPAM MAIL CLASSIFICATION USING NAIVE BAYES CLASSIFIER

Importing all required libraries

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import pandas as pd 
import numpy as np

In [2]:
mail_dataset = pd.read_csv('/content/spam.csv',encoding='cp1252')

In [3]:
#mail_dataset = mail_dataset.loc[:,'Label':'Message']
mail_dataset.dropna(how='all', axis='columns')
mail_dataset

     Label                                            Message Unnamed: 2
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ?_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

[5572 rows x 3 columns]

In [4]:
mail_dataset.shape

(5572, 3)

In [5]:
x = mail_dataset['Message']

In [6]:
y = mail_dataset['Label']

In [7]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ?_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [8]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Label, Length: 5572, dtype: object

In [9]:
y = y.replace(['ham','spam'],[1,0])

In [10]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Label, Length: 5572, dtype: int64

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.20,random_state = 0)

In [12]:
len(x_train)

4457

In [13]:
len(x_test)

1115

In [14]:
cv = TfidfVectorizer(min_df = 1)

In [15]:
x_traincv = cv.fit_transform(x_train.values.astype('U'))

In [16]:
mnb = MultinomialNB()
mnb.fit(x_traincv,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [17]:
actual = y_test
actual

4456    1
690     1
944     1
3768    1
1189    1
       ..
2906    1
1270    1
3944    1
2124    1
253     1
Name: Label, Length: 1115, dtype: int64

In [18]:
x_testcv = cv.transform(x_test)

In [19]:
predicted = mnb.predict(x_testcv)

In [20]:
predicted

array([1, 1, 1, ..., 1, 1, 1])

In [21]:
actual = np.array(actual)

In [22]:
count = 0
for i in range(len(predicted)):
  if actual[i] == predicted[i]:
    count+=1
count

1057

In [23]:
accuracy = count / len(actual)

In [24]:
accuracy

0.9479820627802691

USER INPUT TESTING BY TAKING USER DATA

In [31]:
msg = input("Enter message you want to check : ")

Enter message you want to check : Hi Amrutha, Congratulation on selecting for internship

In [32]:
amrut = cv.transform([msg])
op = mnb.predict(amrut)

In [33]:
if op[0] == 1:
    print("Entered message is Ham")
else:
    print("Entered msg is spam")

Entered message is Ham